---
const {titulo, emoji, desc} = Astro.props;
---

<div class="carta">
<h2>{titulo}</h2>
<p>{emoji}</p>
<p>{desc}</p>
</div>


<style>
.carta{
  background: black;
  color: white;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  container-type: inline-size;
  padding: 1rem;
}
</style>