---
const titulo = "hola mundo desde astro"
const valor = Math.random()
---

<h1>{titulo}</h1>
<p>{valor}</p>

<style>
    :root{
        font-family:'Comic Sans MS';
    }
    h1 {
        color: red;
    }
</style>